@charset "utf-8";

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css');
@import url('https://cdn.jsdelivr.net/gh/fonts-archive/esamanru/esamanru.css');

/* reset */
html{ font-size: 16px; scroll-behavior: smooth; }
html, body { width: 100%;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; background: transparent; }
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #1a1a1a; background-color:#fff; }

* { font-family: 'Pretendard', 'Noto Sans', sans-serif; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
*:before,
*:after{ -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
*:focus { transition: .3s; }

button, a{ background: none; border: 0; color: inherit !important; text-decoration: none !important; -webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out; transition:all 0.2s ease-in-out; }

/* -------------------------------------------- html5 block ------------------------------------------ */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{ display:block;}
body{ -webkit-text-size-adjust:none; line-height: 1.5; letter-spacing: -.5px; word-break: keep-all; }
ol, ul, li{ list-style:none; margin-bottom: 0 !important; }
ul { padding-left: 0; }
blockquote, q{ quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{ content:''; content:none; }
img{ border:0; max-width:100%; height:auto; }
iframe,
embed,
object,
video {max-width:100%;}
i, 
cite, 
em, 
var, 
address, 
dfn { font-style:normal;}
.blind,
legend{ position:absolute; left:0; top:0; width:1px; height:1px; font-size:0; line-height:0; overflow:hidden; visibility:hidden;}
button {cursor: pointer; margin: 0; padding: 0; }






/* usual */
.inner { width: 90%; max-width: 1600px; margin: 0 auto; position: relative; }
.flex_box { display: flex; flex-wrap: wrap; justify-content: space-between; }
.img_box { background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; }
.click_box { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }


header { padding: 0 30px; position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 60px; line-height: 55px; background: #000; border-bottom: 1px solid rgba(255, 255, 255, .2); color: #e8344e; }
header a { font-family: 'esamanru'; font-size: 30px; font-weight: 400; }

footer { padding: 30px 0; background: #000; border-top: 1px solid rgba(255, 255, 255, .2); color: #999; }


/*main*/
main { min-height: 100vh; background: #000; color: #fff; }

.title_section { padding-top: 150px; text-align: center; }
.title_section .total { margin: 20px 0; font-size: 18px; }
.title_section h2 { font-size: 45px; line-height: 1.3; }
#pagination { margin-top: 40px; font-size: 20px; }
#pagination button { margin: 0 20px; font-size: 20px; }
#genre_sort { margin-top: 70px; padding: 0 100px; justify-content: flex-start; gap: 10px; }
#genre_sort li a { display: block; padding: 8px 20px 6px; border: 1px solid rgba(255, 255, 255, .3); font-weight: 300; }
#genre_sort li.clicked a { border-color: #fff; font-weight: 500; }
#genre_sort li a::before { content: "#" }


.search_wrap { position: relative; max-width: 400px; margin: 0 auto; }
.search_wrap input { width: 100%; padding: 0 40px 0 15px; height: 45px; background: transparent; border: 2px solid rgba(255, 255, 255, .3); border-radius: 50px; font-size: 18px; color: #fff; }
.search_wrap button { position: absolute; right: 15px; top: 50%; transform: translateY(-50%); }

.movie_section { padding: 60px 0 100px; }

.movie_list { display: grid; grid-template-columns: repeat(5, 1fr); gap: 10px; }
.movie_list > li { position: relative; overflow: hidden; transition: .3s; }
.movie_list > li::after { opacity: 0; content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: linear-gradient(to top, rgba(0, 0, 0, .8), transparent); transition: .6s; }
.movie_list > li:hover::after { opacity: 1; }
.movie_list > li img { height: 100%; object-fit: cover; }
.movie_list > li .info { opacity: 0; position: absolute; z-index: 9; left: 20px; bottom: 20px; transform: translateY(200%); transition: .4s; }
.movie_list > li .info .title { margin-bottom: 10px; font-size: 20px; }
.movie_list > li:hover .info { opacity: 1; transform: translateY(0); }


.modal { opacity: 0; pointer-events: none; position: fixed; z-index: 99; left: 0; top: 0; width: 100vw; height: 100vh; background: rgba(0, 0, 0, .4); backdrop-filter: blur(2px); transition: .3s; }
.modal.open { opacity: 1; pointer-events: auto; }
.modal_window { position: absolute; padding: 60px 40px; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 90%; max-width: 1320px; max-height: 80vh; overflow: hidden; box-shadow: 0 0 20px rgba(0, 0, 0, .6); border-radius: 5px; background-position: 100% 0; background-size: auto 100%; background-color: #333; }
.modal_window::after { content: ""; z-index: 1; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 105%; height: 110%; background: linear-gradient(to right, rgba(0, 0, 0, .9), rgba(0, 0, 0, .8), rgba(0, 0, 0, .7), transparent); }
.modal .close { position: absolute; z-index: 99; right: 30px; top: 20px; font-size: 30px; }
.modal .top { position: relative; z-index: 9; }
.modal .poster { width: 320px; }
.modal .info_detail { position: relative; width: calc(100% - 340px); padding: 50px 50px 0 50px; border-radius: 10px; }
.modal .info_detail .title { font-size: 36px; font-weight: 600; line-height: 1.2; margin-bottom: 8px; }
.modal .info_detail .title_en { font-size: 20px; font-weight: 300; line-height: 1.2; font-style: italic; }
.modal .info_detail .tags { margin: 18px 0; display: flex; font-weight: 200; color: #ccc; line-height: .8; }
.modal .info_detail .tags span { display: inline-block; padding-right: 10px; text-transform: uppercase; }
.modal .info_detail .tags span + span { padding-left: 10px; border-left: 1px solid rgba(255, 255, 255, .5); }
.modal .info_detail .rating { font-size: 18px; }
.modal .info_detail .overview { max-width: 91%; margin-top: 30px; font-size: 18px; font-weight: 300; line-height: 1.7; }
.modal .bookmark { position: absolute; z-index: 99; right: 80px; top: 25px; }

.btn_style { padding: 10px 30px; font-weight: 500; display: flex; justify-content: center; align-items: center; font-size: 18px; border: 1px solid rgba(255, 255, 255, .5); transition: .3s; }
.btn_style svg { width: 20px; }
.bookmarked .btn_style, .btn_style.active { background: #fff; }
.bookmarked .btn_style svg path, .btn_style.active svg path { fill: #e8344e !important; }





























